*{
  margin:0;
  padding:0;
}
.header{ 
  height:;10vh;
  width:100vh;
  display:flex;
}
.logo{
  width:25%;
  height:100%;
  background-color:gray;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
 }
 .logo a img {
  height:auto;
  width:auto;
}
.menu{
  width:75%;
  background-color:black;
  display:flex;
}
.menu .menubar{
  width:100%;
  height:100%;
}
.menu .menubar ul{
  display:flex;
  height:100%;
  width:100%;
  align-items:center;
  justify-content:space-around;
  }
.menu ul li{
  list-style-type:none;
  padding-bottom:2.5%;
}
.menu ul li a{
  text-decoration:none;
  color:white;
  font-size:1.5vw; 
  position:absolute;
}

