/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header {
    width: 75%;
    display: flex;
    align-items: center;
    background: #000;
    padding: 10px 20px;
}

/* LOGO */
.logo {
    width: 25%;
}
.logo img {
    width: 75%;
    height: auto;
}

/* MENU */
.menu {
    width: 75%;
}

.menubar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 75%;
}

.menubar li a {
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    position: relative;
}

/* Hover Effect */
.menubar li a:hover {
    color: yellow;
}
